{% extends "layout.html" %}

{% block css %} 
    <link href="/static/chapter_reader.css" rel="stylesheet">
{% endblock %}

{% block title %} {{chapter_num}} {% endblock %}


{% block body %}
    <div class="manga-container">
        <div class="page-container">
            {% for img in imgs_FileNames %}
                <img src="{{img_baseUrl}}/data/{{hash}}/{{img}}" {% if loop.index == 1 %}class="active"{% endif %}>
            {% endfor %}
        </div>

        <div class="click-zone left-zone" data-direction="left"></div>
        <div class="click-zone right-zone" data-direction="right"></div>
    </div>
{% endblock %}



{% block script%} 
    <script src="/static/js/chapter_reader.js"></script>
{% endblock %}